body{font-size:12px;}
h1,h2,h3,h4,h5,h6{font-family:"PlayfairDisplay";letter-spacing:5px;}
table{max-width:450px}
.base{max-width:40px;}
.ivs,.dvs{max-width:35px;}
.evs{max-width:60px;}
.type1,.type2,.tera-type{max-width:100px;}
.forme{max-width:200px;}
.boost{min-width:30px;}
.level{max-width:40px;}
.weight{max-width:60px;}
.nature{max-width:160px;}
.ability{max-width:156px;}
.ability-supreme{max-width:70px}
.ability-proto-quark{max-width:72px}
.item{max-width:156px}
.status{max-width:120px}
.current-hp,.percent-hp{max-width:40px}
.move1,.move2,.move3,.move4{font-size:10px}
.move-selector{max-width:120px}
.move-bp{max-width:24px}
.move-type{max-width:60px}
.move-cat{max-width:66px}
.move-z{max-width:60px}
.move-hits,.move-hits2,.move-hits3{max-width:50px}
.move-10hits{max-width:60px}
.move-double{max-width:70px}
.move-pledge{max-width:94px}
.move-lastRespRageFist{max-width:36px}
.setCalc{font-size:11px;max-width:100px}
.sets{font-size:11px;max-width:80px}
.onoffswitch{float:right;position:relative;width:70px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;display:inline-block;}
.onoffswitch-checkbox{display:none;}
.onoffswitch-label{display:block;overflow:hidden;cursor:pointer;border:2pxsolid#999999;border-radius:8px;}
.onoffswitch-inner{display:block;width:200%;margin-left:-100%;transition:margin0.3sease-in0s;}
.onoffswitch-inner:before,.onoffswitch-inner:after{display:block;float:left;width:50%;height:20px;padding:0;line-height:20px;font-size:14px;color:white;font-family:Trebuchet,Arial,sans-serif;font-weight:bold;box-sizing:border-box;}
.onoffswitch-inner:before{content:"50";padding-left:10px;background-color:#192121;color:#fff;}
.onoffswitch-inner:after{content:"100";padding-right:10px;background-color:#F3F3F3;color:#31313a;text-align:right;}
.onoffswitch-switch{display:block;width:10px;margin:5px;background:#FFFFFF;position:absolute;top:0;bottom:0;right:46px;border:2pxsolid#999999;border-radius:8px;transition:all0.3sease-in0s;}
.onoffswitch-checkbox:checked+.onoffswitch-label.onoffswitch-inner{margin-left:0;}
.onoffswitch-checkbox:checked+.onoffswitch-label.onoffswitch-switch{right:0px;}
.damage-calculations{padding:8px 8px;}
.resultHeaderL,.resultHeaderR{font-size:11px;font-weight:bold;}